.container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba( 0, 0, 0, 0.20);
    margin: 0 0 40px 0;
}

.container__arrow {
    width: 40px;
}.container__arrow > img {
    width: 100%;
}