.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 60px;
}

.container__logo {
    font-family: 'Mont';
    font-weight: 600;
    font-size: 20px;
}

@media (max-width: 768px) {
    .container__logo {
        font-size: 18px;
    }
}